AI Lead Qualifier & CRM Updater.json
{
  "name": "AI Lead Qualifier & CRM Updater (Template)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qualify-lead",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1520, 816],
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Lead validation & normalization logic\nconst body = $input.first().json.body || $input.first().json;\n\nconst name = (body.name || '').trim() || 'Unknown';\nconst email = (body.email || '').trim().toLowerCase();\nconst message = (body.message || '').trim();\nconst company = (body.company || '').trim() || 'Not provided';\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) {\n  throw new Error('Invalid email format');\n}\n\nif (!message || message.length < 20) {\n  throw new Error('Message too short to qualify.');\n}\n\nreturn [{\n  json: {\n    name,\n    email,\n    company,\n    message,\n    received_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1296, 816],
      "name": "Validate Lead Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a B2B lead qualification AI. Return ONLY raw JSON."
            },
            {
              "content": "=Name: {{ $json.name }}\nCompany: {{ $json.company }}\nMessage: {{ $json.message }}\n\nQualify this B2B lead."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [-1072, 720],
      "name": "OpenAI - Qualify Lead"
    },
    {
      "parameters": {
        "jsCode": "const outputData = $input.first().json;\n\nconst aiRaw = outputData?.output?.[0]?.content?.[0]?.text\n  || outputData?.message?.content\n  || outputData?.choices?.[0]?.message?.content\n  || '';\n\nlet qualification;\ntry {\n  const cleaned = aiRaw.replace(/```json/g, '').replace(/```/g, '').trim();\n  qualification = JSON.parse(cleaned);\n} catch(e) {\n  qualification = { score: 0, summary: 'AI parse failed' };\n}\n\nreturn [{ json: qualification }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 720],
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "list"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-48, 720],
      "name": "Save to CRM Sheet"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Thank you for your inquiry. Our team will contact you shortly.\"\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [176, 720],
      "name": "Respond - Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"Something went wrong. Please try again later.\"\n}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-576, 928],
      "name": "Respond - Error"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Lead Data", "type": "main", "index": 0 }]]
    },
    "Validate Lead Data": {
      "main": [
        [{ "node": "OpenAI - Qualify Lead", "type": "main", "index": 0 }],
        [{ "node": "Respond - Error", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI - Qualify Lead": {
      "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]]
    },
    "Parse AI Response": {
      "main": [[{ "node": "Save to CRM Sheet", "type": "main", "index": 0 }]]
    },
    "Save to CRM Sheet": {
      "main": [[{ "node": "Respond - Success", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}
